@font-face {
    font-family: 'Neon Tubes';
    src: url('neontubes-webfont.eot');
    src: url('neontubes-webfont.eot?#iefix') format('embedded-opentype'),
         url('neontubes-webfont.woff2') format('woff2'),
         url('neontubes-webfont.woff') format('woff'),
         url('neontubes-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}